<a href="https://colab.research.google.com/github/chonginbilly/Moringa_DS/blob/Moringa_python/Statistical_Methods_in_Pandas_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in this course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

---

## Introduction

Welcome, in this session, we aim to empower you with practical skills in data analysis and manipulation. The tasks ahead will guide us through obtaining comprehensive DataFrame-level summary statistics, computing individual column statistics, and applying custom functions using the `.apply()` methods. By actively engaging with the Titanic dataset, you will gain valuable insights into the passengers' demographics, fare distributions, and potential correlations with survival rates. Let's embark on this journey together, sail away!

## Objectives

By the end of this lab, you will be able to:

- Calculate summary statistics for a series and DataFrame
- Compute individual column statistics
- Use the .apply() methods to apply a function to a pandas series or DataFrame

## importing libraries

In [ ]:
## CODE GOES HERE

## Aboard the Titanic

Letâ€™s get started, we'll be working with the Titanic dataset. This dataset revolves around the passengers aboard the Titanic during its ill-fated maiden voyage. Each row represents an individual passenger, and columns provide information such as their *age, fare, class*, and *survival status*. This dataset serves as a window into understanding the demographics and characteristics of the passengers, allowing us to apply statistical methods in Pandas for insightful data analysis.You can find the dataset [here](https://drive.google.com/file/d/1Dwrqt3r80WbeukyQ9cuTr7RxC9q8ZBzF/view?usp=sharing)

In [ ]:
## Import the Titanic dataset

df = None

In [ ]:
## Preview the first five columns

## Getting DataFrame-Level Statistics
We'll begin by getting some overall summary statistics on the dataset. There are two ways we'll get this information -- `.info()` and `.describe()`.

The `.info()` method provides us with metadata on the DataFrame itself. This allows us to answer questions such as:
- What data type does each column contain?
- How many rows are in my dataset?
- How many total non-missing values does each column contain?
- How much memory does the DataFrame take up?

In the cell below, call our DataFrame's `.info()` method.

In [ ]:
# Call the .info() method

Are there any columns with missing values? Name them below and indicate how many values are missing from that column based on the information provided by `.info()`

*   `List item` : x
*   `List item` : y

Whereas `.info()` provides statistics about the DataFrame itself, `.describe()` returns output containing basic summary statistics about the data contained with the DataFrame.

In the cell below, call the DataFrame's `.describe()` method.

In [ ]:
# Call the .describe() method

**Interpreting the results**

The output contains descriptive statistics corresponding to the columns. Use these to answer the following questions:

- What is the standard deviation of `age` among the passengers? What does this value imply?
- How many siblings or spouses (SibSp) are present in the largest family aboard the Titanic?
- Conversely, in the smallest family, how many parents or children (Parch) are there?

## Computing Individual Column Statistics

Pandas also allows us to easily compute individual summary statistics using built-in methods. Next, we'll get some practice using these methods.

In the cell below, calculate individual column statistics for the `'Age'` column, including *mean, median,* and *standard deviation*.

In [ ]:
## CODE GOES HERE

Next, compute statistics for the `'Fare'` column, focusing on measures like *minimum, maximum*, and *mean*.

In [ ]:
## CODE GOES HERE

How about you analyze and interpret the results, identifying potential trends or outliers in the *age* and *fare* distributions.

In [ ]:
## CODE GOES HERE

## Getting Summary Statistics on Categorical Data

When dealing with categorical data in the Titanic dataset, we encounter limitations in utilizing methods designed for numerical data. For instance, calculating the standard deviation of a column containing string values is not feasible. However, there are insightful methods available to explore categorical columns. In the cell below, print the unique values present within the `'Embarked'` column.

In [ ]:
## CODE GOES HERE

Next, let's utilize the `value_counts()` method to understand the frequency of each unique value in this column, providing valuable insights into the distribution of embarkation locations.

In [ ]:
## CODE GOES HERE

These operations offer quick and effective ways to extract meaningful information about columns containing categorical data in the Titanic dataset. Question we can be able to answer might include:

- What are the unique embarkation locations recorded in the dataset?
- How many passengers embarked from each unique location, and what is the distribution among these locations?
- Are there any missing or irregular values in the `'Embarked'` column that might require further investigation?

##  Applying Functions with `.apply()` Methods

Pandas provides a versatile way to apply custom functions to our data using the `.apply()` method. Let's explore this capability by performing specific tasks on the Titanic dataset.

In the cell below, create a new column named `'Age_Category'` using `.apply()`, categorizing passengers as `'Child'`, `'Adult'`, or `'Senior'` based on their age.

In [ ]:
## CODE GOES HERE

Next, use `.apply()` to calculate a new column `'Family_Size'` by adding `'SibSp'` and `'Parch'` columns.

In [ ]:
## CODE GOES HERE

## Summary

Congratulations! Throughout this session, we actively navigated the Titanic dataset, utilizing Panda's methods to derive meaningful insights. You adeptly obtained DataFrame-level summary statistics, dived into individual column statistics, and applied custom functions using powerful `.apply()` methods. This hands-on experience has equipped us with the tools to confidently explore and analyze datasets that will guide us in making informed decisions.